.smallCard {
  text-decoration: none;
  border: 3px solid yellow;
  color: transparent;
  padding: 40px 80px;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
  width: 100%;
  height: 400px;
  margin: 50px 0px;
}

.smallCard:before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}

.smallCard:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}

.smallCard:after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}

.smallCard:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  position: absolute;
  color: #fff;
  z-index: 1;
  text-align: center;
  /* padding: 50px; */
}
